body {
  font-size: 18px;
}
h1, h2, h3 {
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 26px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

code {
  border-radius: 3px;
}

blockquote{
  display:block;
  background: #fff;
  padding: 5px;
  position: relative;
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  overflow: auto;
  border-radius: 3px;
  border-left: 6px solid #66D9EF;
  background-color: #eee;
}

blockquote::before{
  content: "\201C";
  font-size: 40px;
  font-weight: bold;
  color: #999;
  position: absolute;
  left: 5px;
  height: 0;
}

blockquote p {
  font-family: Monaco, Menlo, Arial, Helvetica, sans-serif;
  padding-left: 30px;
  padding-top: 10px;
  line-height: 1.5em;
}
